<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a href="/" class="navbar-brand">
    Blog
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">Categorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/articles">Artigos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/users">Usuários</a>
    </li>
  </ul>
  <% if (session.user) { %>
    <ul class="navbar-nav ml-auto" style="align-items: center;">
      <li class="nav-item">
        <span class="text-white">
          <%= session.user.email %>
        </span>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link">Deslogar</a>
      </li>
    </ul>
    <% } else { %>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/login" class="nav-link ml-auto">
            Login
          </a>
        </li>
      </ul>
      <% } %>

</nav>